__pycache__/
*.pth
results/
dist/
pytorch_world.egg-info/
world_models/models/data/
cifar
.pyirc
torchwm.egg-info/
node_modules/
.vite/
docs/build/
torchwm_ui/playwright-report/
torchwm_ui/test-results/
.env.example
.env.production
checkpoints/
server.log
.mypy_cache/
data/
.coverage
.coveragerc
coverage_report.json
htmlcov/
